/* @[crate::menu::credits::CreditsAssets] */
(
    music: "audio/music/Monkeys Spinning Monkeys.ogg",
    created_by: [
        ("Joe Shmoe", "Implemented alligator wrestling AI"),
        ("Jane Doe", "Made the music for the alien invasion"),
    ],
    assets_by: [
       ("Ducky sprite", "CC0 by Caz Creates Games"),
       ("Tileset", "2d-magic-lands-set3 created by Szadi art"),
       ("Button SFX", "CC0 by Jaszunio15"),
       ("Music", "CC BY 3.0 by Kevin MacLeod"),
       (
           "Bevy logo",
           "All rights reserved by the Bevy Foundation, permission granted for splash screen use when unmodified",
       ),
    ]
)
