EnemyAssets(
    types: [
        (
            name: "Saucisson",
            sprite: "images/black_ducky.png",
            max_speed: 100,
            max_health: 40,
            damage: 10,
            cooldown: 1.0
        )
    ]
)