PlayerAssets(
    name: "Bishop",
    max_speed: 250,
    max_health: 100,
    auto_aim_angle: 30,
    pickup_xp: "audio/sound_effects/pickup-2.ogg",
    sprite: "images/bishop.ron",
    fire_origin: (5, 10)
)
