(
    name: "Augustine",
    sprite: "images/ducky.png",
    max_speed: 250,
    steps: [
        "audio/sound_effects/powerUp.ogg",
        "audio/sound_effects/powerUp-1.ogg",
        "audio/sound_effects/powerUp-2.ogg"
    ]
)
