(
    name: "Augustine",
    sprite: "images/ducky.png",
    width: 32,
    height: 32,
    max_speed: 250,
    steps: [
        "audio/sound_effects/powerUp.wav",
        "audio/sound_effects/powerUp-1.wav",
        "audio/sound_effects/powerUp-2.wav"
    ]
)