/* @[crate::gameplay::tilemap::TilesetAssets] */
(
    texture: "tiles/ground.png",
    tile_size: 32,
    width: 1600,
    height: 704,
    noise_scale: 0.05,
    grounds: {
        dirt_red: (
            tiles : (
                from: (9, 19),
                to: (12, 21),
            ),
            variants : {
                rocks: (
                    from: (9, 19),
                    to: (12, 21),
                )
            }
        ),
        dirt_brown: (
            tiles : (
                from: (27, 18),
                to: (30, 20),
            ),
            variants: {
                rocks: (
                    from: (27, 14),
                    to: (30, 16)
                ),
            }
        ),
    }
)
