WeaponAssets(
    types: [
        (
            name: "Blaster",
            trigger_sounds: [
                "audio/sound_effects/laser-2.ogg"
            ],
            levels: [
                (
                    damage: 15.0,
                    attack: Projectile(
                        sprite: "images/bullet/Laser Bullet 10.png",
                        speed: 500.0,
                        fire_rate: 0.3,
                        lifetime: 0.9,
                        trajectories: [
                            Straight,
                        ],
                        on_hit: None,
                    ),
                )
            ],
        )
    ]
)
