WeaponAssets(
    types: [
        (
            name: "Blaster",
            levels: [
                (
                    damage: 15.0,
                    attack: Projectile(
                        sprite: "images/bullet/Laser Bullet 10.png",
                        speed: 500.0,
                        fire_rate: 1.0,
                        lifetime: 0.9,
                        trajectories: [
                            Straight,
                        ],
                        on_hit: None,
                    ),
                )
            ],
        )
    ]
)
